@media (min-width: 801px){
    .header {
        background-color: khaki;
        width: 100%;
        position: fixed;
        z-index: 999;
        top: 0;
    }
    .header .header-container {
        max-width: 90%;
        margin: 0 auto;
    }
    .header-row {
        padding: 20px 0;
    }
    .col-header-l {
        width: auto;
        height: 50px;
    }
    .space {
        padding: 45px;
    }
    .container {
        width: 1400px;
        margin: 0 auto;
    }
}
@media (max-width: 1450px) and (min-width: 801px) {
    .container {
        width: 1000px;
    }
}