<!-- Модальное окно -->


<div class="modal fade" id="finishOrder" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="finishOrderLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="finishOrderLabel">Заказ оформлен!</h5>
            </div>
            <div class="modal-body">
                <p class="text-center">
                    Благодарим за покупку. Менеджер свяжется с вами в бижайшее время для уточнения деталей заказа.
                </p>
            </div>
            <div class="modal-footer">
                <a href="/" class="btn btn-secondary" data-dismiss="modal">Вернуться на главную</a>
                <a href="orders" class="btn btn-primary">Перейти к таблице заказов</a>
            </div>
        </div>
    </div>
</div>
